<p id="notice"><%= notice %></p>

<h1>Fourds</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fourds.each do |fourd| %>
      <tr>
        <td><%= link_to 'Show', fourd %></td>
        <td><%= link_to 'Edit', edit_fourd_path(fourd) %></td>
        <td><%= link_to 'Destroy', fourd, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fourd', new_fourd_path %>
